
.container-1{
	background-color: white;
}

.btn{
	background: orange;
	background-border: white;
	color:white;
}
.container-3{
	background-color: #184fc3;
}
.container-5{
	color: "grey";
}
fieldset{
	border: none;
	margin: 0;
	padding: 10px 0;
	font-weight: 800;
}
input[type=submit] {
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  width: 100%;
}